@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .app {
    background-color: pink;
    
} */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 3px solid black;
    padding: 10rem 0;
}

h1 {
    color: white;
    font-size: 3rem;
}

button {
    width: 15rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 0.4rem;
    color: Black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem;
    opacity: 1;
    transition: opacity 2s ease 0s;
}

button:hover {
    box-shadow: -7px 6px 5px 1px rgba(0,0,0,0.7);
    opacity: 0.8;
    cursor: pointer;
    width: 16rem;
    height: 3.5rem;
    font-size: 1.1rem;
    color: white;
}
